@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    margin: 0%;
    background-color: #573E53;
}

main {
    background-color: white;
    width: 58vw;
    padding: 10px;
    margin-top: 3%;
    border-radius: 10px;
    font-family: "Source Sans Pro";
}

a {
    color: black;
    text-decoration: none;
}

main > p {
    text-align: justify;
    text-indent: 20px;
}

main > h1, main > h2 {
    color:#AB7BA3;
}

.shelf-object {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: -2px 3px 1px rgba(0, 0, 0, 0.575);
    display: inline-block;
    width: 90px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #EBA9E0;
    margin-block: 0.9%;
    margin-inline: 0.6%;
}

.shelf-object:hover {
    background-color: #c98fbf;
    width: 88px;
    height: 43px;
    line-height: 43px;
    margin-inline: 0.7%;
    font-size: 0.96em;
}

.main-other {
    display: inline-block;
}

#back-shelf {
    background-color: #AB7BA3;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    font-family: "Source Sans Pro";
}

#content {
    width: 70vw;
    margin: auto;
}

#main-title {
    background-color: #AB7BA3;
    line-height: 100px;
    font-size: 4em;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

#others-contents {
    background-color: white;
    border-radius: 10px;
    width: 10vw;
    position: absolute;
    margin-top: 2.1%;
    margin-inline-start: 0.44%;
    font-family: "Source Sans Pro";
}

#others-contents > ul > a > li:hover {
    background-color: #AB7BA3;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: underline;
}