@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max(100vh, 500px);
}

.container {
    background-image: linear-gradient(140deg, #656DDB, #9195d4 40% 100%);
    width: min(100%, 600px);
    margin-inline: 5vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: width 400ms, height 400ms;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.27);
}

.container:hover {
    width: calc(min(100%, 600px) - 1%);
    height: 68%;
}

.container:hover h1 {
    top: 0px;
}

.item {
    overflow: hidden;
    position: relative;
}

h1 {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    transition: top 400ms 140ms, 200ms color;
    font-size: clamp(33px, 4vw, 3rem);
    margin-inline: 15px;
}

h1:hover {
    color: #ffda56;
}