@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #24160F;
}

main {
    background-color: #CC7D56;
    width: 590px;
    height: 611px;
    margin: auto;
    margin-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;
}

h1 {
    color: #FFCFB8;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin-bottom: 72px;
    padding-top: 53px;
}

.main-account {
    display: flex;
    flex-direction: column;
    gap: 49px 0px;
}

.main-account-user, .main-account-pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    opacity: 70%;
    width: 327px;
    height: 60px;
    border-radius: 100px;
    gap: 0px 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.main-account-user-image, .main-account-pass-image {
    margin-left: 16.7px;
}

.main-account-user-paragraph, .main-account-pass-paragraph {
    font-family: "M PLUS 1", sans-serif;
    font-weight: 200;
    font-size: 23px;
}

.main-frgtandtrms {
    font-family: "M PLUS 1", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}

.main-frgtandtrms-link {
    align-self: flex-end;
}

.main-frgtandtrms-trmcndtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    gap: 0px 7px;
}

.main-frgtandtrms-trmcndtns-input {
    width: 20px;
    height: 20px;
}

button {
    border: none;
    background-color: #FF9C6B;
    width: 242px;
    height: 53px;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    border-radius: 100px;
    margin-top: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}