@charset "UTF-8";

#s1 {
    background-color: blue;
    font-size: 200px;
    padding: 20px;
    
}

#s2 {
    background-color: red;
    padding: 10px;
    margin: 70px;
    
}

#s3 {
    background-color: green;
    
}