.section2 {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 .bottom {
    padding-bottom: 7vh;
    display: flex;
    justify-content: space-between;
}

.section2 .bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: min(2.1vw, 12px);
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}

.section2 .material-symbols-outlined {
    font-size: 16px;
}

.section2 .bottom p {
    width: min(30%, 250px);
    text-align: right;
}

.section2 h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 10.5vw;
    white-space: nowrap;
    font-weight: 400;
}

.section2 ul {
    columns: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}

.section2 ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-block: 2px;
}

.section2 ul li:nth-child(1), .section2 ul li:nth-child(2) {
    border-top: 1px solid black;
}

.section2 ul li span {
    background-color: black;
    width: 14px;
    color: white;
    text-align: center;
}

.section2 ul li div {
    text-transform: uppercase;
    font-size: .8rem;
}

