@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 11px;
    font-family: "Geologica", sans-serif;
    overflow-x: hidden;
}

body {
    cursor: none;
}

#cursor {
    background-color: rgb(218, 218, 218);
    width: 6vw;
    height: 6vw;
    position: fixed;
    border-radius: 100%;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: top 200ms ease-out, left 200ms ease-out, width 150ms, height 150ms;
    pointer-events: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-block: .5vh;
    margin-inline: .6vw;
    z-index: 1;
    position: relative;
}

header > h1 {
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid black;
    padding-inline: 1px;
    display: flex;
    align-items: center;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav div {
    width: 5px;
    height: 5px;
    background-color: rgb(73, 73, 73);
}

header a {
    color: rgb(73, 73, 73);
    text-decoration: underline;
    position: relative;
}

header a:hover {
    text-decoration: none;
    cursor: none;
}

body:has(header a:hover) #cursor {
    height: 10px !important;
    width: 10px !important;
}

header a::after {
    content: "";
    width: 0%;
    transition: width 200ms .05s;
}

header a:hover::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background-color: rgb(73, 73, 73);
}

header > button {
    background-color: black;
    border: 0px;
    border-radius: 100px;
    color: white;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 1.3rem;
    padding-inline: 8px;
    text-transform: uppercase;
    cursor: none;
}

header > button:hover {
    background-color: rgb(218, 218, 218);
    color: black;
    font-weight: bold;
}

body:has(header > button:hover) #cursor {
    height: 19px;
    visibility: hidden;
    border-radius: 100px;
    transition: height 200ms, width 200ms, 100ms visibility;
}

section {
    height: 100vh;
}

.main-section {
    margin-top: max(1.17vh, 9.0207px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section > .main-section--h1 {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 13vw;
    width: 100%;
    font-weight: 400;
    line-height: min(15vw, 170.65px);
}

.main-section--h1 > span {
   display: inline-block;
   color: white;
}

.main-section--h1 > .h1--span1 {
    background-color: #00F3FF;
}

.main-section--h1 > .h1--span2 {
    background-color: #FF03A4;
}

.main-section--h1 > .h1--span3 {
    background-color: #FFDE19;
}

.main-section div {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    margin-bottom: 8vh;
    margin-left: .3vw;
}

.main-section ul li {
    list-style: none;
}

.main-section div button {
    width: max(10vw, 98.500px);
    height: 5vh;
    border-radius: 2000px;
    background-color: #FF03A4;
    font-family: "Geologica", sans-serif;
    text-transform: uppercase;
    font-size: max(1vw, 9.85px);
    font-weight: 900;
    color: white;
    border: 2px solid rgb(36, 36, 36);
    cursor: none;
}

.main-section div button:hover {
    background-color: rgb(218, 218, 218);
    color: black;
}

body:has(.main-section div button:hover) #cursor {
    height: 5vh;
    border-radius: 100px;
    visibility: hidden;
    transition: height 200ms, width 200ms, 100ms visibility;
}

section > p {
    font-family: "Noto Sans JP", sans-serif;
}

@media screen and (width > 1200px) {
    section > .main-section--h1 {
        font-size: 13vw;
        line-height: 20vh;
    }
}

@media screen and (width <= 992px) {
    header a {
        font-size: clamp(1.3rem, 2vw, 1.5rem);
    }

    header > button {
        font-size: clamp(1.6rem, 3vw, 1.8rem);
    }
}