@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Comme", sans-serif;
    font-size: 13px;
}

body {
    background-color: #54648F;
}

header {
    background-color: #5B868F;
    color: rgb(235, 235, 235);
}

header > h1, header > p {
    font-family: "Fira Sans Condensed", sans-serif;
    text-align: center;
}

header > h1 {
    font-weight: bold;
    padding-top: 10px;
    letter-spacing: 5px;
}

header > p {
    text-transform: uppercase;
    font-size: .9rem;
    max-width: 300px;
    margin: 0 auto;
}

.burguer {
    font-size: 35px;
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #5B868F;
    color: white;
    padding-block: 6px;
    border-block: 1px solid rgba(0, 0, 0, 0.342);
    transition: .1s background-color;
}

.burguer:hover {
    transition: .2s background-color;
    background-color: #483C61b6;
    cursor: pointer;
}

menu {
    font-size: 1.1rem;
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.205);
}

menu > ul > li {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(219, 219, 219);
    border-top: 2px solid rgba(0, 0, 0, 0.342);
}

menu > ul > li:hover {
    background-color: rgb(204, 204, 204);
}

menu > ul > li > a {
    display: block;
    text-decoration: none;
    padding: 2px;
    color: black;
    font-weight: 500;
    text-transform: lowercase;
}

menu > ul > li:hover > a {
    color: white;
}

main {
    background-color: #54648F;
}

main > article {
    background-color: rgb(241, 241, 241);
    color: black;
    width: clamp(250px, 90vw, 700px);
    margin-inline: auto;
    padding: 8px;
    border-radius: 5px;
    margin-block: 20px;
}

main > article > h1 {
    color: rgb(41, 41, 41);
    margin-bottom: 7px;
}

main > article > p {
    font-size: .92rem;
    line-height: 1.4rem;
    margin-block: 15px;
    text-indent: 1.9rem;
}
