@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100svh;
    font-family: sans-serif;
    background-color: #233EFF;
    transition: background-color .6s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    text-shadow: 2px 2px 0px rgb(173, 173, 0);
    color: white;
    text-align: center;
    transition: all .4s;
}