@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #174263;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0px 100px;
    background-color: #103552;
    padding-block: 7px;
}

header > h1 {
    color: rgb(206, 206, 206);
}

header > nav {
    display: flex;
    gap: 0px 20px;
}

header > nav > a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    font-weight: 700;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 30px;
    padding: 4px 7px;
}

header > nav > a:hover {
    animation: bga .5s forwards;
}

section {
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
    margin-block: 50px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
    background-color: #1034529f;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 10px;
    color: rgb(228, 228, 228);
}

img {
    width: 250px;
    border-radius: 5px;
}

div {
    display: flex;
    flex-direction: column;
}

.buycart {
    margin-top: 60px;
    gap: 7px 0px;
}

input {
    padding: 5px;
    background-color: #66717A;
    border-radius: 50px;
    border: none;
    color: rgb(206, 206, 206);
}

@keyframes bga {
    to {
        background-color: #cecece1a;
    }
}
