@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}

main {
    background-color: white;
    border-radius: 10px;
    margin: 3%;
    margin-bottom: 3%;
    padding-inline: 10px;
    padding-block: 1px;
}

a {
    color: black;
}

hr {
    margin-inline: 3%;
    margin-top: 1%;
}

main > p {
    text-align: justify;
}

main > h1 {
    color: #472802;
}

main > h2, main > h3, main > h4, main > h5, main > h6 {
    color: #946022;
}

.shelf-object {
    background-color: #4AB1E0;
    border-radius: 5px;
    box-shadow: -3px 3px 2px black;
    border: 2px solid black;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.322);
    margin-inline: 1px;
    margin-top: 8px;
}

/*.shelf-object:hover::after {
    content: " <";
    color: rgb(83, 83, 83);   
}*/

.shelf-object:hover {
    background-color: rgb(39, 125, 165);
    width: 99px;
    height: 39px;
    line-height: 39px;
    font-size: 0.95em;
    margin-inline: 1.5px;
}

#content {
    background-color: #093447;
    width: 75vw;
    margin: auto;
    padding-bottom: 3px;
}

#main-title {
    background-color: #227094;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 3px 3px black;
    border: 3px solid black;
    font-family: serif;
    text-align: center;
    margin-top: 0%;
    margin-inline: 3%;
    margin-bottom: 0%;
    font-size: 6em;
    padding: 15px;
}

#back-shelf {
    margin-inline: 3%;
    margin-top: 0%;
}

#novidades {
    background-color: #946022;
    color: white;
}

#novidades > h1 {
    color: white;
}

#novidades > h2, h3, h4, h5, h6 {
    color: white;
}

#novidades > ul {
    line-height: 50px;
}

#novidades > ul > li:hover{
    font-size: 1.2em;
    font-weight: bold;
}

#novidades > ul > li:hover::after {
    content: " <";
}

#novidades > ul > li > a {
    color: white;
    text-decoration: none;
}