@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: linear-gradient(-17deg, #6F4691, #614B9C, #464685);
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
}

div {
    background-image: linear-gradient(to right, #6F4691, #614B9C, #464685);
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.616);
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.486);
    width: 500px;
    height: 67vh;
    max-width: 70vw;
    margin: auto;
    padding-inline: 50px;
    padding-block: 50px;
}

main {
    text-align: center;
}

main > p {
    margin-right: 150px;
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.822);
}

header > h1 {
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 3.4em;
    font-weight: 900;
    text-shadow: -3px 3px 2px rgb(58, 58, 58)
}

.form {
    background-image: linear-gradient(-20deg, #6F4691, #464685);
    width: 200px;
    height: 56px;
    border-style: solid;
    border-color: #4d3164;
    border-radius: 100px;
    display: block;
    margin: auto;
    color: rgb(236, 236, 236);
    font-size: 1.45em;
    padding-inline: 60px;
    font-family: "Noto Sans", sans-serif;
}

.form:hover{
    background-image: linear-gradient(-20deg, #6f4691f8, #464685f8);
    border-style: solid;
    border-color: #4d3164;
    outline: 1px solid black;
}

.form:focus {
    background-image: linear-gradient(-20deg, #6f4691f8, #464685f8);
    outline: 1px solid black;
}


#btn {
    background-image: linear-gradient(-15deg, #466E91, #4B609C);
    width: 120px;
    height: 50px;
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #4d3164;
    border-radius: 100px;
    font-size: 1.2em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.904);
    font-family: "Noto Sans", sans-serif;
}

#btn:hover {
    background-image: linear-gradient(-15deg, #466e91f6, #4b619cee);
    color: rgba(255, 255, 255, 0.726);
    cursor: pointer;
}
