@charset "UTF-8";

/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (max-height: 585px) and (max-width: 600px) {
    #login {
        position: static;
        transform: translate(0%, 0%);
        margin-inline: auto;
        border-radius: 0;
    }
}

@media screen and (min-width: 768px) {
    #login {
        padding-inline: clamp(30.719px, 4%, 56px);
        padding-top: clamp(25.359px, 2%, 28px);
        padding-bottom: clamp(38.031px, 3%, 42px);
    }
    
    #login > div {
        width: 46%;
        display: inline-block;
    }

    #imagem {
        height: 270px;
        margin-right: 7%;
    }
}

@media screen and (min-width: 992px) {
    #login {
        float: left;
    }

    #imagem {
        height: 320px;
        float: right;
        margin-top: 5vh;
    }
}