@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background: #F5D4B3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-block: 2px;
}


.header-image {
    width: 50px;
}

.header-menu {
    display: flex;
    gap: 0px 15px;
}

.header-menu2 {
    display: none;
}

.header-menu-link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #FFE9D4;
    text-decoration: none;
    color: black;
    opacity: 60%;
    padding: 5px 10px;
    border-radius: 8px;
    animation: opcty2 0.3s forwards;
}

.header-menu-link:hover {
    animation: opcty 0.6s forwards;
}

.header-menu-link:active {
    background-color: #fae4cf;
}

section > #content {
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.main-section1-text {
    color: #2B231B;
    font-family: "IBM Plex Mono", monospace;
    width: 34vw;
    font-weight: 300;
    font-size: 40px;
    opacity: 90%;
}

.main-section1-text-emphasis {
    font-size: 70px;
}

.main-section1-divright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section1-divright-image {
    margin-top: 25px;
}

.main-section1-divright-start {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: #2B231B;
    opacity: 80%;
    font-weight: 300;
    text-decoration: none;
}

.main-section1-divright-start:hover {
    text-decoration: underline;
    animation: hover-link 0.8s forwards;
}

.main-section1-divbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.section1-divbottom-title {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-size: 40px;
}

.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A8896A;
    gap: 0px 100px;
    padding: 80px;
    border-top: 1px solid black;
}

.section2-divleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0px;
}

.section2-divleft-box {
    display: block;
    width: 35vw;
}

.section2-divleft-box-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.section2-divleft-box-image {
    display: inline;
}

.section2-divleft-box-paragraph {
    display: inline;
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    color: white;
    width: fit-content;
}

.section2-divright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
}

.section2-divright-textpart {
    background-color: #FFE9D4;
    padding: 16px 34px;
    width: 30vw;
    border-radius: 30px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.section2-divright-textpart-title {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 22px;
}

.section2-divright-textpart-paragraph {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 18px;
    margin-top: 8px;
    text-align: justify;
}

#header-buttonmenu2 {
    display: none;
}

#header-buttonmenu2text {
    display: none;
}

#header-buttonmenu2text > img {
    width: 35px;
}

.section1-divbottom-image {
    animation: up-down 0.9s forwards infinite alternate ease-in-out;
}

@keyframes hover-link {
    to {
        background-color: #a8896a42;
    }
}

@keyframes opcty {
    from {
        opacity: 60%;
    }

    to {
        opacity: 100%;
        transform: scale(97%);
    }
}

@keyframes opcty2 {
    from {
        opacity: 100%;
        transform: scale(97%);
    }
    
    to {
        opacity: 60%;
        transform: scale(100%);
    }
}

@keyframes up-down {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (max-width: 1380px) {
    .main-section1-text {
        font-size: 1.8em;
    }

    .main-section1-text-emphasis {
        font-size: 1.8em;
    }

    .main-section1-divright-image {
        width: 70%;
    }

    .section2 {
        padding: 60px 0px 30px 20px;
    }

    .section2-divright-image {
        width: 40vw;
    }

    .section2-divright {
        margin-left: 0px;
    }

    .section2-divleft-box-image {
        width: 38px;
    }

    .section2-divright-textpart-title {
        font-size: 1.2em;
    }

    .section2-divright-textpart-paragraph {
        font-size: 1em;
    }
}

@media (max-width: 1100px) {
    .section2-divright {
        gap: 90px 0px;
    }
}

@media (max-width: 950px) {
    section > #content {
        margin-top: 40px;
    }

    .main-section1-text {
        font-size: 1.8em;
        width: 95%;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .main-section1-text-emphasis {
        font-size: 2em;
    }

    .main-section1-divright-image {
        width: 85%;
    }

    .section2 {
        gap: 0px 40px;
    }

    .section2-divleft-box-title {
        font-size: 1.3em;
    }

    .section2-divleft-box-image {
        width: 35px;
    }

    .section2-divleft-box-paragraph {
        font-size: 0.8em;
    }

    .section2-divright {
        gap: 100px 0px;
    }

    .main-section1-divright-start {
        margin-bottom: 30px;
    }

    .section2-divright-textpart-title {
        font-size: 1em;
    }

    .section2-divright-textpart-paragraph {
        font-size: 1em;
    }
}

@media (max-width: 805px) {
    .section2-divright-image {
        width: 45vw;
    }
}

@media (max-width: 705px) {
    .main-section1-text {
        font-size: 1.6em;
    }

    .main-section1-divright-image {
        width: 80%;
    }

    .section2 {
        flex-direction: column;
        padding: 63px 0px 0px 0px;
    }

    .section2-divleft-box {
        width: 70%;
        text-align: justify;
    }

    .section2-divleft-box-title {
        text-align: center;
    }

    .section2-divleft-box-image {
        width: 30px;
    }

    .section2-divright {
        gap: 20px 20px;
        margin-top: 70px;
        flex-direction: row-reverse;
    }

    .section2-divright-image {
        display: none;
    }

    .section2-divright-textpart {
        padding: 20px;
        width: 68%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .section2-divright-textpart-title {
        font-size: 0.9em;
    }

    .section2-divright-textpart-paragraph {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    header {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 20px;
        border-bottom: 0.4px solid #A8896A;
    }

    #header-buttonmenu2text {
        display: inline;
    }

    #header-buttonmenu2:checked ~ .header-menu2 {
        display: flex;
        flex-direction: column;
        font-size: 2.8em;
        width: 100%;
        text-align: center;
        text-decoration: none;
        gap: 60px 0px;
        margin-bottom: 40px;
        margin-top: 30px;
        padding-block: 5px;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
        border: 0.4px solid #A8896A;
    }

    .header-menu2-link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.856);
        padding: 20px;
        border-radius: 8px;
        margin-inline: 4px;
    }

    .header-menu2-link:active {
        background-color: #a8896a83;
    }
    
    .header-menu {
        display: none;
    }
}

@media (max-width: 500px) {
    main-section1 {
        flex-direction: column-reverse;
        margin-top: -20px;
        gap: 25px 0px;
    }

    .main-section1-text {
        font-size: 1.4em;
    }

    .main-section1-text-emphasis {
        font-size: 1.7em;
    }
    
    .header-menu2-link {
        font-size: 0.7em;
    }

    .section2-divleft-box {
        width: 90%;
    }

    .section2-divright-image {
        width: 60%;
    }

    .section2-divright-textpart {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .main-section1-text {
        font-size: 1.3em;
    }

    .section2-divleft-box {
        width: 98%;
    }

    .main-section1-text-emphasis {
        font-size: 1.6em;
    }
    
    .section2-divright-textpart {
        width: 80%;
    }
}

