body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    min-width: 200px;
    max-width: 700px;
    height: 500px;
    display: flex;
}

.item {
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 255, 0.342);
    border: 5px solid rgba(92, 92, 51, 0.705);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(66, 66, 66);
    font-weight: 800;
    line-height: 5rem;
}


.item-3 {
    order: -1;
}

.item-1 {
    order: 1;
}


