@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,400;1,500;1,700&display=swap');

body {
    font-family: "Nunito", sans-serif;
    background-color: #4682FA;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    padding-inline: 10px;
    width: 500px;
    margin: auto;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-block: 5px;
}

h1#principal {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 2.45em;
    font-weight: bold;
    background-color: #3461BA;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    color: #101E3B;
    width: 330px;
    margin: auto;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

p {
    text-indent: 40px;
    text-align: justify;
}
