@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --body-color: #E7E7E7;
    --bg-section-color: #FDFDFD;
    --row-color: #d3d3d3;
    --other-topics-div-color: #F4F4F4;
    --other-topics-div-color-hover: #e2e2e2;
    --main-color: #171A42;
    --main-color-hover: #222663;
    --color1: #171a425b;
    --color2: #32388F;
    --color2-hover: #4049c2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 60px 14px 50px;
    background-color: white;
}

#menu0-input {
    display: none;
}

.header-rightdiv-menu0 {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 29vw;
    padding-right: 10px;
}

.header-rightdiv-menu0-div {
    display: flex;
    flex-direction: column;
}

.header-rightdiv-menu0-div-title {
    margin-bottom: 5px;
    font-family: "Source Sans 3", sans-serif;
    margin-left: 10px;
}

.header-rightdiv-menu0-div-item {
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--row-color);
    font-family: "Source Sans 3", sans-serif;
    padding: 25px;
    font-size: 1em;
    transition: .2s background-color;
    text-align: left;
    padding-left: 40px;
    transition: .2s box-shadow, .3s margin-left;
}

.header-rightdiv-menu0-div-item:hover {
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.24);
    margin-left: 5px;
    cursor: pointer;
}

#menu0-input:checked ~ .header-rightdiv-menu0 {
    display: flex;
    z-index: 1;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.349);
}

header:has(#menu0-input:checked) {
    background-color: #666666;
}

header:has(#menu0-input:checked) .header-searchbox-label {
    pointer-events: none;
}

header:has(#menu0-input:checked) .header-searchbox-label > .header-searchbox {
    background-color: #666666;
}

body:has(#menu0-input:checked) nav {
    filter: brightness(40%);
    pointer-events: none;
}

body:has(#menu0-input:checked) main {
    filter: brightness(40%);
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

body:has(#menu0-input:checked) {
    overflow-y: hidden;
}

#back {
    display: none;
    position: fixed;
    right: 0px;
    width: 70%;
    height: 100%;
}

header:has(#menu0-input:checked) #back {
   display: block;
}

.header-rightdiv-menu0-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 20px;
    margin-left: 15px;
    justify-content: space-between;
}

.header-right-div-menu0-top-left {
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
    align-items: center;
}

.header-right-div-menu0-top-left-label::after {
    content: "<";
    font-size: 2.8em;
    font-family: "Source Serif Pro", serif;
    font-weight: 300;
    opacity: 90%;
    cursor: pointer;
    transition: .5s opacity;
}

.header-right-div-menu0-top-left-label:hover::after {
    opacity: 10%;
}

.header-right-div-menu0-top-left-label::before  {
    opacity: 0%;
    content: "Back";
    font-size: 1.2em;
    position: absolute;
    font-family: "Source Sans 3", sans-serif;
    top: 32px;
    left: 16px;
    transition: .6s opacity;
    transition: 1s margin-left;
    font-weight: 300;
}

.header-right-div-menu0-top-left-label:hover::before {
    opacity: 100%;
    transition: .6s opacity;
    text-decoration: underline;
}

.header-right-div-menu0-top-left-title {
    font-family: "Newsreader", serif;
    color: var(--main-color);
}

.header-rightdiv-menu0-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 5px;
}

.header-rightdiv-menu0-top-right-link {
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.05em;
    color: black;
    font-weight: 500;
}

.header-rightdiv-menu0-top-right-link:hover {
    text-decoration: underline;
}

.header-rightdiv {
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
}

.header-buttonlabel {
    cursor: pointer;
}

.header-buttonlabel-image {
    width: 30px;
}

.header-title {
    font-family: "Newsreader", serif;
    font-weight: 300;
    font-size: 32px;
    color: var(--main-color);
}

#header-checkbox {
    display: none;
}

#header-checkbox:checked ~ .header-searchbox-label {
    flex-direction: row;
}

#header-checkbox:checked ~ .header-searchbox-label > .header-image {
    transition: .65s left;
    cursor: pointer;
    position: relative;
    left: 31px;
    animation: .7s zoom forwards;
}

#header-checkbox:checked ~ .header-searchbox-label > .header-searchbox {
    display: block;
    width: 100%;
    transition: .7s width ;
    background-color: rgb(247, 247, 247);
    visibility: visible;
}

.header-searchbox {
    padding: 12px 12px 12px 45px;
    border-radius: 3px;
    border: none;
    visibility: hidden;
    display: block;
    width: 0%;
    transition: .7s width, .7s visibility;
    font-family: "Source Sans 3";
    font-size: 15px;
}

.header-searchbox {
    border: none;
    outline: none;
}

.header-searchbox-label {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    transition: .65s flex-direction;
}

.header-searchbox-label:hover {
    flex-direction: row;
}

.header-searchbox-label:hover > .header-image {
    transition: .65s left;
    cursor: pointer;
    position: relative;
    left: 31px;
    animation: .7s zoom forwards;
}

.header-searchbox-label:hover > .header-searchbox {
    display: block;
    width: 100%;
    transition: .7s width ;
    background-color: rgb(247, 247, 247);
    visibility: visible;
}

.header-image {
    width: 17px;
    transition: .9s left,;
    position: relative;
}

nav {
    background-color: white;
    border-block: 1px solid var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 1px;
}

.menu-item {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 200;
    text-decoration: none;
    padding: 10px;
    color: var(--main-color);
    transition: .2s background-color;
}

.menu-item:hover {
    background-color: var(--main-color);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
}

section {
    min-width: 280px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: var(--bg-section-color);
    border-radius: 3px;
}

.Topstories {
    margin-top: 20px;
}

.Topstories-title, .othertopics-title {
    font-family: "Source Serif Pro";
    color: black;
    font-size: 1.6em;
    border-bottom: 1px solid var(--row-color);
    padding: 8px 0px 3px 20px;
    font-weight: 700;
}

.Topstories-article {
    display: flex;
    flex-direction: row;
    padding: 27px 25px;
}

.Topstories-article-mainnews-title {
    font-family: "Source Serif Pro", serif;
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.Topstories-article-mainnews-div {
    display: flex;
    flex-direction: row;
    gap: 0px 16px;
    align-items: center;
    border-right: 1px solid var(--row-color);
}

.Topstories-article-mainnews-div-image {
    width: 550px;
}

.Topstories-article-mainnews-div-paragraph {
    font-family: "Source Sans 3", sans-serif;
    width: 28%;
}

.Topstories-article-aside {
    width: 120%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
}

.Topstories-article-aside-item {
    border-bottom: 1px solid var(--row-color);
    padding-bottom: 11px;
}

.noborderbottom {
    border: none;
}

.Topstories-article-aside-item-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--color2);
    transition: .2s color;
}

.Topstories-article-aside-item-link:hover {
    color: var(--color2-hover);
}

.Topstories-article-aside-item-link-title {
    font-size: 13.5px;
    font-family: "Source Serif Pro", serif;
}

.Topstories-article-aside-item-link-image {
    width: 80px;
    transition: .5s transform;
}

.Topstories-article-aside-item-link-image:hover {
    transform: scale(140%);
    transition-delay: 1.5s;
}

.othertopics-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 15px;
    margin-top: 18px;
    padding-bottom: 35px;
    transition: .4s gap;
}

.othertopics-div-link {
    width: 250px;
    background-color: var(--other-topics-div-color);
    padding: 7px 7px 20px 7px;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    transition: .4s padding, .2s background-color;
}

.othertopics-div-link:hover {
    background-color: var(--other-topics-div-color-hover);
}

.othertopics-div-link-article-image {
    min-width: 150px;
    max-width: 250px;
    border-radius: 2px;
    transition: .5s transform;
}

.othertopics-div-link-article-image:hover {
    transform: scale(120%);
    transition-delay: 1.5s;
}

.othertopics-div-link-article-title {
    font-size: 15px;
    margin-top: 10px;
    font-family: "Source Serif Pro", serif;
}

.footer-paragraph {
    text-align: center;
    margin-top: 80px;
    background-color: white;
    padding: 8px;
    font-family: "Source Sans 3";
    border-top: 1px solid var(--color1);
}

.footer-paragraph-link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    padding-inline: 3px;
}

.footer-paragraph-link:hover {
    background-color: var(--main-color-hover);
    color: white;
}

@media (max-width: 1157px) {
    .othertopics-div-link {
        width: 200px;
    }

    .othertopics-div-link-article-image {
        width: 200px;
    }
}

@media (max-width: 1100px) {
    .Topstories-article {
        flex-wrap: wrap;
    }

    .Topstories-article-mainnews-div {
        border: none;
        margin-bottom: 20px;
    }

    .Topstories-article-mainnews-div-image {
        width: 100%;
    }

    .Topstories-article-mainnews-div-paragraph {
        align-self: flex-start;
    }

    .Topstories-article-aside {
        border-top: 1px solid var(--row-color);
        margin-top: 30px;
        padding: 10px 0px 0px 0px;
        min-width: 280px;
        max-width: 700px;
        margin: 0 auto;
    }

    .Topstories-article-aside-item-link-title {
        font-size: 1.1em;
    }

    .Topstories-article-aside-item-link-image {
        width: 150px;
    }
}

@media (max-width: 890px) {
    .header-searchbox-label {
        width: 50%;
    }

    .Topstories-article-mainnews-div {
        flex-direction: column;
        align-items: flex-start;
    }

    .Topstories-article-mainnews-div-paragraph {
        width: 100%;
        margin-top: 10px;
    }

    .Topstories-article-aside-item-link {
        gap: 0px 20px;
    }

    .Topstories-article-aside-item-link-title {
        font-size: 1em;
    }

    .Topstories-article-aside-item-link-image {
        width: 80px;
    }

    .othertopics-div-link-article-title {
        font-size: 0.9em;
    }
}

@media (max-width: 730px) {
    header {
        padding-inline: 30px;
    }

    .header-rightdiv {
        gap: 30px;
    }

    .header-searchbox-label {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .header-rightdiv {
        gap: 19px;
    }

    .header-buttonlabel-image {
        width: 27px;
    }

    .othertopics-div {
        flex-direction: column;
        padding-inline: 5px;
    }

    .othertopics-div-link {
        width: 95%;
        padding-bottom: 7px;
    }

    .othertopics-div-link-article {
        display: flex;
        flex-direction: row;
        gap: 0px 10px;
        align-self: center;
    }

    .othertopics-div-link-article-title {
        text-align: justify;
    }
}


@media (max-width: 490px) {
    body {
        font-size: .76em;
    }

    header {
        font-size: .9em;
    }

    nav {
        font-size: .9em;
    }

    .header-buttonlabel-image {
        width: 20px;
    }

    .header-searchbox-label {
        height: 30px;
    }

    .header-image {
        width: 13px;
    }

    .header-searchbox {
        font-size: 1.1em;
    }

    .header-title {
        font-size: 1.8em;
    }

    .header-searchbox-label:hover > .header-image {
        left: 35px;
    }
}

@keyframes zoom {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}