@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0%;
    font-family: "Open Sans", sans-serif;
    background-color: #F7A897;
}

main {
    background-color: white;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

main > p {
    text-align: justify;
    text-indent: 30px;
}

#content-1 {
    width: 700px;
    margin: auto;
}

#main-title {
    background-color: #8CABA0;
    text-shadow: 4px 4px 2px #9163588c;
    color: #F7A897;
    text-align: center;
    height: 120px;
    line-height: 120px;
    font-size: 3.4em;
    margin: 0%;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.562);
    margin-bottom: 4px;
}

#back-menu {
    background-color: #AB7468;
    height: 60px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.212);
}

#back-menu > div {
    background-color: #CAF8E7;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #8CABA0;
    border-radius: 7px;
    margin: 10px;
    font-size: 0.8em;
    font-weight: 600;
}

#back-menu > div:hover {
    width: 99px;
    height: 39px;
    line-height: 38px;
    color: #5f5f5f;
}

