@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: max(100vh, 700.891px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg,#E09355, #F7B452, #EDBC4E);
}

h1 {
    font-family: "Barlow", sans-serif;
}

p {
    line-height: 1.3rem;
}

p, button {
    font-family: "Quicksand", sans-serif;
}

.container-head-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    background-color: #F7956A;
    width: 330px;
    height: 250px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding-top: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.eyeballs-container {
    width: 83%;
    margin-inline: auto;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eyeballs-container--eyeball-container {
    background-color: white;
    width: 40%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    
}

.eyeball-container--eyeball {
    background-color: black;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    margin-top: 40px;
}

.text-content {
    width: clamp(330px, 80vw, 672.591px);
    margin-inline: auto;
    background-color: #E09355;
    border-radius: 40px;
    padding: 3.6vh 5vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
}

.text-content > div:nth-child(3) {
    margin-top: 4vh;
}

.text-content > * {
    margin-block: 1.5vh;
}

.text-content h1 {
    color: #feffbc;
    font-weight: 800;
}

.text-content p {
    color: #edeeba;
    margin-bottom: .6vh;
}

.text-content div button:nth-child(1) {
    background-color: #55CCE0;
    border: none;
    padding: 1.6vh 3vw;
    border-radius: 100px;
    font-weight: 700;
    color: white;
}

.text-content div button:nth-child(2) {
    border: none;
    padding: 1.6vh 2vw;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

@media screen and (width <= 540px) {
    .text-content {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}