@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #2E4059;
    font-family: "Poppins", sans-serif;
    margin: 0%;
}

.button-front-page {
    color: #e0e0e0;
    border: 2px solid #e0e0e0;
    border-radius: 100px;
    text-align: center;
    padding-block: 8px;
    padding-block: 8px;
    padding-inline: 10px;
}

.right-item {
    float: right;
    margin-inline-end: 15px;
    text-align: center;
}

#main-title {
    color: #e0e0e0;
    width: fit-content;
    display: inline;
}

#top {
    background-color: #27374D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.473);
    height: 8vh;
    padding-top: 20px;
    padding-inline: 20px;
}

#main-info {
    color: #ececec;
    font-size: 5em;
    font-weight: 500;
    margin-right: 120px;
    line-height: 90px;
    margin-bottom: 20px;
    display: inline-block;
    width: fit-content;
}

#main-info > em {
    font-style: normal;
    font-weight: 600;
}

#middle-h2-main-info-tiny {
    font-size: 0.7em;
    font-weight: 400;
}

#middle {
    margin-inline: 20px;
    margin-top: 110px;
}

#middle-tour {
    color: #e0e0e0;
    padding-inline: 30px;
    font-weight: 500;
    width: 32px;
    display: block;
    margin-bottom: 20px;
}

#svg {
    float: inline-end;
}