@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

body {
    font-family: "Red Hat Text", sans-serif;
    background-image: linear-gradient(to right, #566AF5, #3F4FB5);
}

div {
    width: 570px;
    background-color: #7082f5;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

h1, h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 700;
}

main {
    background-color: white;
    border-radius: 10px;
    padding-inline: 10px;
    width: 500px;
    margin: auto;
}

p {
    text-align: justify;
    text-indent: 30px;
}

.subject-1 {
    color: #293375;
}

.subject-2 {
    color: #4D60DB;
}

.subject-3 {
    color: #566AF5;
}

#main-title {
    font: 700 3em "Source Serif Pro", serif;
    text-align: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.267);
    color: #131736;
    background-image: linear-gradient(to right, #3F4FB5, #713AC2, #2c7397);
    border-radius: 10px;
    width: 400px;
    margin: auto;
}