@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(178deg, #384354, #232528);
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
}

.header-title {
    font: 400 32px "Righteous", cursive;
    color: white;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 21px;
    padding-top: 11px;
}

.header-menu-item {
    text-decoration: none;
    color: white;
    font: 400 16px "Open Sans", sans-serif;
    background-color: #627D9E;
    padding: 5px 17px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header-menu-item:hover {
    animation: .7s bgchange forwards;
}

.header-menu-item:hover > .header-menu-item-image {
    animation: .7s rotate forwards;
}

.header-menu-itemgetstart {
    border-radius: 5px;
    background-color: #4766B5;
    padding: 8px 37px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.15);
    animation: none;
}

.header-menu-itemgetstart:hover {
    animation: .7s bgchange1 forwards;
}

.main-section1 {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
}

.main-section1-div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 324px;
    gap: 0px 26px;
    animation: 7s move infinite alternate ease-in-out;
}

.main-section1-div1-title {
    font: 800 120px "Noto Sans", sans-serif;
    color: #D6D7D9;
    text-shadow: 12px 18px 15px rgba(0, 0, 0, 0.4);
}

.main-section1-div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 10px;
    margin-top: 304px;
    margin-inline: auto;
    padding: 7px;
    border-radius: 6px;
}

.main-section1-div2:hover {
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.205);
}

.main-section1-div2-item {
    text-decoration: none;
    color: white;
    font: 300 24px "Nunito", sans-serif;
}

.main-section1-div2-itemspan {
    display: none;
    text-decoration: none;
    color: white;
    font: 300 24px "Nunito", sans-serif;
    pointer-events: all;
}

#seemore:checked + label > .main-section1-div2-itemspan {
    display: flex;
    position: relative;
    top: 27px;
    left: 40px;
}

.main-section1-div2-itemspan > label {
    cursor: pointer;
}

#seemore:checked + label > .main-section1-div2-item {
    display: none;
}

.main-section1-div2-image {
    width: 28px;
    transform: rotate(90deg);
    pointer-events: all;
}

#seemore {
    display: none;
}

#seemore:checked + label {
    position: absolute;
    top: 398px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 3s seemore forwards;
    width: 10%;
    height: 5%;
    border-radius: 100%;
    padding: 0px;
    pointer-events: none;
}

#seemore:checked + label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-section1-subject-list {
    width: 60%;
    list-style: none;
    color: #D6D7D9;
}

.main-section1-subject-list-item-paragraph {
    font-family: "Noto sans";
    text-align: justify;
}


#seemore:checked ~ .main-section1-subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-120vw);
    animation: 2.3s to-original-position forwards 2s;
    position: relative;
    bottom: 130px;
}

.main-section1-subject {
    display: none;
}

#seemore:not(:checked) + label {
    animation: 2s close forwards;
}

@keyframes bgchange {
    to {
        background-color: #4f6681;
        color: rgb(211, 211, 211);
    }
}

@keyframes bgchange1 {
    to {
        background-color: #3d589c;
        color: rgb(211, 211, 211);
    }
}

@keyframes rotate {
    to {
        transform: rotateX(180deg);
    }
}

@keyframes move {
    0% {
        transform: translateY(-14px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes seemore {
    from {
        padding-top: 100px;
        padding-left: 250px;
    }

    to {
        background-color: rgb(26, 26, 26);
        width: 100%;
        height: 100%;
        overflow-y: none;
        border-radius: 0%;
        top: -302px;
        padding-top: 0px;
        padding-left: 0px;
    }
}

@keyframes to-original-position {
    to {
        transform: translateX(0px);
    }
}

@keyframes close {
    from {
        transform: translateX(-120vw);
    }

    to {
        transform: translateX(0px);
    }
}