@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 32, 32);
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 50px;
    background-color: rgb(17, 17, 17);
    padding-block: 10px;
}

header h1 {
    color: rgb(238, 238, 238);
    font-family: "Assistant", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-family: "Sofia Sans", sans-serif;
}

main > h1 {

}

main > p {
    background-color: rgb(32, 32, 32);
    color: white;
    height: 92.2vh;
    display: flex;
    align-items: center;
    font-size: 65px;
    filter: blur(20px);
    pointer-events: none;
    text-align: center;
    position: relative;
    top: -37px;
}