body {
    background-image: linear-gradient(to top, #5359F0,#4AACF8);
    background-attachment:fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #272A70;
    color: #ffffff;
    font-size: 35px;
}

h2 {
    background-color: #272A70;
    color: #ffffff;
    font-size: 20px;
}
