@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0px;
}

body {
    background-color: #DBD5DB;
}

header {
    background-color: #262526;
    padding: 14px 115px;
}

h1 {
    display: inline;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin-right: 520px;
}

nav {
    display: inline-block;
    background-color: #827F80;
    padding: 10px 42px;
    border-radius: 8px;
}

a {
    background-color: #C2BEBF;
    text-decoration: none;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    padding: 3px 7px;
    margin-right: 18px;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-top: 90px;
}

div {
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

article {
    display: inline-block;
    width: 268px;
    background-color: #292829;
    border-radius: 27px;
    padding: 15px 13px;
    margin-right: 55px;
}

p {
    display: inline;
    color: white;
    font-family: sans-serif;
}

#nrm {
    margin-right: 0px;
}