@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
}

body {
    background-color: #EDEDED;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #292838;
    padding-block: 8px;
    gap: 0px 6px;
}

#header-input {
    display: none;
}

.header-button {
    background-color: transparent;
    border: none;
    margin-right: 50px;
    cursor: pointer;
    animation: 0.7s unpacity forwards;
}

.header-button:hover {
    animation: 0.6s opacity forwards;
}

.header-button:active {
    animation: 0.01s unpacity;
}

.header-title {
    font-family: "Nova Round", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-right: 40px;
}

.header-search {
    background-color: white;
    width: 33vw;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-search-input {
    width: 28vw;
    height: 32px;
    border: none;
    border-radius: 30px;
    margin-left: 15px;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
}

.header-search-input:focus {
    border: none;
    outline: none;
}

.header-search-button {
    margin-right: 6px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 21px;
    margin-left: 50px;
}

.header-right-item-login {
    font-size: 19px;
    font-family: "Nova Round", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    gap: 0px 6px;
}

.header-right-item {
    margin-left: 18px;
}

.header-right-item:hover {
    animation: 1s cart forwards alternate infinite;
}

.header-right-item-paragraph {
    text-align: center;
}

.header-right-item-paragraphlogin, .header-right-item-paragraphsign {
    text-decoration: underline;
}

.main-section1 {
    background-color: #BF2130;
    text-align: center;
    padding-block: 8px;
}

.main-section1-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.90);
}

.main-section1-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.main-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px 83px;
    margin-block: 22px;
}

.main-section2-item {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-section2-item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-section2-item-top-remaining {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.main-section2-item-top-discount {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.main-section2-item-infoprice {
    margin-top: 6px;
    margin-left: 8px;
    margin-bottom: 18px;
}

.main-section2-item-infoprice-title {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.main-section2-item-infoprice-price {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 23px;
    margin-top: 10px;
}

.main-section2-pricetypeshippingfree {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main-section2-pricetypeshippingfree::before {
    content: "*";
}

.main-section2-pricetypeshippingfree > em {
    font-style: normal;
}

.main-section2-item-cartbuy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 9px;
    margin-bottom: 8px;
}

.main-section2-item-cartbuy-item {
    background-color: hsla(244, 17%, 19%, 0.15);
    border: 2px solid rgba(0, 0, 0, 0.10);
    font-family: "Nova Round", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 12px;
    padding: 6.9px;
    cursor: pointer;
}

.main-section2-item-cartbuy-item:hover {
    background-color: hsla(244, 18%, 19%, 0.230);
}

.main-section2-item-cartbuy-itemcart:hover {
    background-color: hsla(244, 18%, 19%, 0.230);
}

.main-section2-item-cartbuy-itemfeature {
    font-size: 20px;
    padding: 5px 20px;
}

.header-left {
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #292838;
    height: 100%;
    border-top: 0.2px solid white;
    overflow-y: scroll;
    margin-top: 74px;
    animation: 0.7s to-left forwards alternate;
    z-index: 1;
}

.header-left-categories-title {
    color: white;
    font-family: "Cabin", sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 200;
}

.header-left-categories-itemscontainer-item {
    color: rgb(220, 220, 220); 
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    padding: 30px 2.73vw 30px 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px 80px;
}

.header-left-categories-itemscontainer-item:hover > .header-left-categories-itemscontainer-item-image {
    color: black;
    animation: 0.4s to-right forwards;
}

.header-left-categories-itemscontainer-item:hover {
    animation: 0.4s bg-change forwards;
    color: rgb(26, 26, 26);
}

.header-left-categories-itemscontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

#header-input:checked ~ .header-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #292838;
    height: 100%;
    border-top: 0.2px solid white;
    overflow-y: scroll;
    z-index: 1;
    margin-top: 74px;
    transform: translateX(-30vw);
    animation: 0.7s to-original-position forwards ease;
}

header:has(> #header-input:checked) + main {
    position: fixed;
    z-index: -1;
    animation: 1.3s blur forwards 0.6s;
}

header:has(> #header-input:not(:checked)) + main {
    filter: brightness(40%);
    background-color: #EDEDED;
    z-index: -1;
    animation: .5s unblur forwards 0.4s;
}

.main-section2-navigation {
    width: 100%;
}

.main-section2-navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 0px 10px;
    align-items: center;
}

.main-section2-navigation-list-item {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
}

.main-section2-navigation-list-item:hover {
    background-color: rgba(184, 184, 184, 0.479);
}

.main-section2-navigation-list-itemlink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

.main-section2-navigation-list-item-prevnext {
    padding-top: 10px;
    transform: scale(110%);
}

#previous-image {
    transform: rotateY(180deg);
}

@keyframes blur {
    to {
        filter: brightness(40%);
        background-color: #EDEDED;
    }
}

@keyframes unblur {
    to {
        filter: brightness(100%);
    }
}

@keyframes to-original-position {
    to {
        transform: translateX(0px);
    }
}

@keyframes to-left {
    from {
        display: flex;
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-30vw);
    }
}

@keyframes to-right {
    to {
        transform: translateX(6px);
    }
}

@keyframes bg-change {
    to {
        background-color: #c7c7c7;
    }
}

@keyframes opacity {
    to {
        opacity: 80%;
    }
}

@keyframes unpacity {
    to {
        opacity: 100%;
    }
}

@keyframes cart {
    0% {
        transform: rotate(3deg);
    }
    
    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}