@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    background-color: #D9A577;
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #262626;
    color: #F2EFEB;
    padding: 20px 40px;
    border-bottom: 1px solid #F26241;
}

header > h1 {
    display: inline;
    font-weight: 200;
}

header > span {
    float: right;
}

header > span > input {
    background-color: #262626;
    padding: 10px 30px;
    color: #F2EFEB;
    border-radius: 4px;
    border: 1px solid white;
}

header > span > input:hover {
    cursor: pointer;
    animation-name: opacity;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

header > span > nav {
    display: inline-block;
    margin-right: 40px;
}

header > span > nav > a {
    color: #F2EFEB;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
}

header > span > nav > a:hover {
    background-color: #F26241;
    animation-name: opacity;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

main {
    margin: 0px 40px;
}

main > h1 {
    text-align: center;
    margin-top: 100px;
    font-weight: 300;
    font-size: 4em;
    transform: translateX(-80vw);
    animation-name: to-right;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}

main > div {
    width: fit-content;
    margin: 90px auto 0px auto;
}

main > div > span > img {
    width: 40px;
}

main > div > span {
    background-color: #F26241;
    display: inline-block;
    width: 300px;
    margin: 0px 25px;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 5px;
}

#block-1 {
    transform: translateY(50vh);
    animation-name: to-top;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#block-2 {
    transform: translateY(50vh);
    animation-name: to-top;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#block-3 {
    transform: translateY(50vh);
    animation-name: to-top;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

#block-2 > img {
    margin-top: 17px;
}

#block-3 > img {
    margin-top: 4px;
}

@keyframes opacity {
    from {
        background-color: #f2624118;
    }
    to {
        background-color: #F26241;
    }
}

@keyframes to-right {
    to {
        transform: translateX(0px);
    }
}

@keyframes to-top {
    to {
        transform: translateY(0px);
    }
}
