@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D7378;
}

header {
    background-color:  #144063;
    padding-inline: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #104152;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
}

header > h1 {
    font-family: "Righteous", cursive;
    color: #cfd8e0;
    font-weight: 400;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 0px 2px;
}

header > nav > a {
    text-decoration: none;
    color: #cfd8e0;
    font-family: "Inter", sans-serif;
    padding: 16px 20px;
    transition: background-color .5s, color .5s;
    font-weight: 500;
}

header > nav > a:hover {
    background-color: rgb(202, 202, 202);
    color: rgb(56, 56, 56);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px 0px;
    box-shadow: inset 0px 0px 160px rgba(0, 0, 0, 0.295);
    height: 93.2vh;
}

main > div {
    width: 80%;
}

main > div > h2 {
    color: #dbdbdb;
    font-size: 4em;
    font-family: "Inter", cursive;
    text-shadow: -7px 4px 6px rgba(0, 0, 0, 0.116);
    margin-top: 180px;
}

main > div > p {
    font-size: 2em;
    color: #dbdbdb;
    font-family: "Inter"; 
    text-shadow: -5px 4px 6px rgba(0, 0, 0, 0.075);
}

#divgetstart {
    display: none;
}

main > input {
    display: none;
}

main > input:checked ~ #divgetstart {
    display: flex;
    transform: translate(-100vw);
    animation: 2s to-original-position forwards;
}

body:has(main > input:checked) {
    overflow-y: hidden;
}

main > input:not(:checked) ~ #divgetstart {
    display: none;
}

main > label {
    width: 200px;
    padding-block: 8px;
    background-color: #208085;
    border-radius: 2px;
    border: 1px solid #1b6e72;
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    transition: .7s background-color;
    text-align: center;
    color: rgb(238, 238, 238);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.11);
}

main > label:hover {
    cursor: pointer;
    background-color: #279aa0;
    color: white;
}

#divgetstart {
    background-color: #DBDBDB;
    color: rgb(41, 41, 41);
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0px;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

#divgetstart-loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 200px auto 0px auto;
}

.divgetstart-loginbox-title {
    font-size: 2em;
}

#divgetstart-loginbox-textbox, #divgetstart-loginbox-passwordbox {
    padding: 7px 10px;
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
}

.divgetstart-loginbox-label {
    align-self: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
}

#divgetstart-loginbox-btn {
    padding: 6px 10px;
    margin-top: 30px;
    background-color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 2px;
    transition: .7s background-color;
}

#divgetstart-loginbox-btn:hover {
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    color: white;
}

#divgetstart-loginbox-frgtpassword {
    align-self: flex-end;
    margin-top: 5px;
    color: rgb(41, 41, 41);
}

#divgetstart-loginbox-signup {
    color: rgb(41, 41, 41);
}

#divgetstart-quit {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: .7s all;
}

#divgetstart-quit:hover {
    transform: translateX(-10px);
}


#divgetstart-quit::before {
    content: "<";
    width: fit-content;
    font-size: 2em;
    margin-left: 30px;
    
}

#divgetstart-quit::after {
    content: "Return";
    align-self: center;
    font-size: 1.3em;
    margin-left: 6px;
}

.divgetstart-loginbox-paragraph {
    margin-top: 1px;
}

@media (max-width: 860px) {
    header {
        flex-direction: column;
        padding-top: 5px;
    }

    header > nav {
        margin-top: 10px;
        border-top: 1px solid #929292;
        border-right: 1px solid #929292;
        border-radius: 5px 5px 0px 0px;
        border-left: 1px solid #929292;
    }

    main {
        font-size: 0.9em;
    }

    main > div > h2 {
        margin-top: 120px;
    }
}

@media (max-width: 720px) {
    main {
        font-size: 0.8em;
    }

    main > div > h2 {
        margin-top: 80px;
    }
}

@media (max-height: 660px) {
    main {
        font-size: 0.6em;
    }

    main > div > h2 {
        margin-top: 70px;
    }

    #divgetstart-loginbox {
        margin-top: 120px;
    }
}

@keyframes to-original-position {
    to {
        transform: translate(0px);
    }
}

@keyframes animation-login {
    10% {
        transform: translateX(0px);
    }
    
    80% {
        transform: translate(100vw);
    }
    
    100% {
        display: none;
    }
}