@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FFD080, #F5BF62);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.486);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2263A8;
    text-align: center;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.39);
    font-size: 45px;
}

h2 {
    color: #A87D32;
}
p {
    text-align: justify;
}